*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
body{
  color: #FFF;
  background: #000;
  margin: 1em auto;
  max-width: 40em;
  padding: 0 .62em;
  font: 1.2em/1.62 sans-serif;
}
h1, h2, h3 {
  line-height: 1.2;
}
a:link {
  color: #F0E68C;
}
a:hover, a:visited:hover {
  color: #A52A2A;
}
a:visited {
  color: #B0E0E6;
}
blockquote {
  margin: 1em;
}
hr {
  margin: 1rem 0;
}
li {
  margin: 0 1em;
}
nav {
  margin: 0 0 0.5em;
}
p {
  margin: 0.5em 0;
}
time {
  font-size: 0.9em;
}
