<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if FAVICON %}
<link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}">
{% endif %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/
{{- CSS_FILE }}" type="text/css">
{% if AUTHOR %}
<meta name="author" content="{{ AUTHOR }}">
{% endif %}
{% if SUMMARIES %}
{% if article %}
<meta name="description" content="
{#- Try to use the SUMMARY and make it look okay(ish) -#}
{%- filter truncate(150)
    |replace('\n', '')
    |replace('  ', ' ')|replace('  ', ' ')
    |trim|e -%}
  {%- include "summary.html" -%}
{%- endfilter -%}
">
{% else %}
<meta name="description" content="{{ SITESUBTITLE  }}">
{% endif %}
{% endif %}
{% block image %}{% endblock %}
<title>{% block title %}{% endblock %}</title>
{% endblock %}
</head>
<body>
{% block content %}
{% if page_name == "index" %}
{% block nav %}{% endblock %}
{% endif %}
{% endblock %}
{% if article or page %}
<footer>
<a href="{{ SITEURL }}/">~/index</a>
</footer>
{% endif %}
</body>
</html>

