{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}
{% block content %}
<header>
<h1>{{ SITENAME }}</h1>
{% if SITESUBTITLE and page_name == "index" %}
<aside>{{ SITESUBTITLE }}</aside>
{% elif category or tag %}
<aside>{{ category or tag }}</aside>
{% endif %}
</header>
{% block nav %}{% include "nav.html" %}{% endblock %}
<div class="articles">
{% if articles %}
{% for article in articles_page.object_list %}
<ul>
<time>{{ article.locale_date }}</time>
<h3>
<a href="{{ SITEURL }}/{{ article.url -}}
  ">{{ article.title }}</a>
</h3>
{# 'SUMMARIES' are set in 'pelicanconf' #}
{% if SUMMARIES %}
<p>
{% include "summary.html" %}
</p>
{% endif %}
</ul>
{% endfor %}
{% endif %}
</div>
{% if articles_page.has_other_pages() %}
{% include "pagination.html" %}
{% endif %}
{% endblock %}
