{# Fills the upper half of 'index' out with pages,
   categories, tags and other links.
 #}
<nav>
{% if category or tag or articles_page.number != 1 %}
<a href="{{  SITEURL }}">~/index</a>
{% elif NAV_INDEX %}
{% for key in NAV_INDEX %}
<a href="{{ NAV_INDEX[key] }}">~/{{ key }}</a>
{% endfor %}
{% endif %}
{% if page_name == "index" %}
{% for p in pages %}
{% if p.status == 'published' %}
<a href="{{ SITEURL }}/{{ p.url }}">~/{{ p.title|lower }}</a>
{% endif %}
{% endfor %}
{% include "categories.html" %}
{% include "tags.html" %}
{% endif %}
</nav>
{% if category or tag %}
<nav>
{% if category %}
{% include "categories.html" %}
{% elif tag %}
{% include "tags.html" %}
{% endif %}
</nav>
{% endif %}
