{# Fills the nav bar with tag/categories. #}
{% set NAV = WORD %}
{% for WORD, articles in LIST|sort %}
{%- set URL -%}
{{ SITEURL }}/{{ WORD.url }}
{%- endset -%}
{% if page_name != "index" %}
<a href="{{ URL }}">{{ WORD -}}<sup>{{ articles|count }}</sup></a>
{% elif page_name == "index" %}
{% if loop.index == 1 %}
<a href="{{ URL }}">~/{{ NAV }}s</a>
{% endif %}
{% endif %}
{% endfor %}
