{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block image %}
{% if page.image %}
<meta name="image" href="{{ page.image }}">
{% endif %}
{% endblock %}
{% block content %}
<header>
<h2>
<a href="{{ SITEURL }}/">{{ page.title }}</a>
</h2>
</header>
<article>
{% set TEXT_TYPE = page %}
{% include "filter.html" %}
</article>
{% endblock %}
