{% if DEFAULT_PAGINATION %}
<nav>
{% if articles_page.has_previous() %}
<a href="{{ SITEURL }}/{{ articles_previous_page.url -}}
">../back{{- articles_previous_page.number -}}</a>
{% endif %}
{% if articles_page.has_next() %}
<a href="{{ SITEURL }}/{{ articles_next_page.url -}}
    ">/next{{- articles_next_page.number }}</a>
{% endif %}
 </nav>
{% endif %}
